server:
  port: 8083

spring:
  application:
    name: trazabilidad-service
  data:
    mongodb:
      uri: mongodb://${MONGO_ROOT_USER:rootuser}:${MONGO_ROOT_PASSWORD:rootpass123}@localhost:27017/trazabilidad_db?authSource=admin

# OpenAPI / Swagger
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method