server:
  port: 8083

spring:
  application:
    name: trazabilidad-service
  
  data:
    mongodb:
      uri: ${MONGODB_URI:mongodb://localhost:27017/trazabilidad_db}
      database: trazabilidad_db

# OpenAPI / Swagger
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method
